[submodule "elementary"]
	path = native/elementary
	url = https://github.com/elemaudio/elementary.git
[submodule "juce"]
	path = native/juce
	url = https://github.com/juce-framework/JUCE.git
[submodule "choc"]
	path = native/choc
	url = https://github.com/nick-thompson/choc.git
[submodule "public/nel-vcs-24"]
	path = public/nel-vcs-24
	url = https://github.com/cristianvogel/nel-vcs-24
